.header {
  padding: 10px 5px 10px 5px;
	
  top: 0;
  left: 0;
  right: 0;
  background: #0000003a;
  z-index: 1111;
  position: fixed;

}
.header-content {

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  position: relative;

  &:hover {
    &::after {
      content: url(../../assets/images/light.png);
      z-index: 11;
      position: absolute;
      left: -6px;
      top: 0px;
    }
  }
}
.nav {
  ul {
    display: flex;
    li {
      margin: 0px 0px 0px 20px;
      transition: all 0.3s ease;
      &:hover {
        color: tomato;
        transform: scale(1.1);
      }
    }
  }
  @media (max-width: 992px) {
    display: none;
  }
}

.nav-burger {
  background: #000000f4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 111111111;
  ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    li {
      font-size: 40px;
    }
  }
}

.active {
  text-decoration: underline;
  color: tomato;
}
